<html>
  <head>
    <title>{{title}} Fund Helper</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="csrf-token" content="{{ csrf_token() }}">
	<link href="{{url_for('static', filename='handsontable/handsontable.full.min.css')}}" rel="stylesheet" media="screen">
	<script type="text/javascript" src="{{url_for('static', filename='jquery-3.4.0.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='handsontable/handsontable.full.min.js')}}"></script>
  </head>
  <body>
  <h1>{{title}} Fund Helper</h1>
  <p>This web app is used to get fund information automatically!</p>
  {% include "check_cookie.html" %}
  <p>Hi, {{user}}, welcome!</p>
  {% include "update_funds.html" %}
  {% include "update_model.html" %}
  </body>
</html>
