<div id='check_cookie'></div>
<script language="javascript">
$(document).ready(function(){
    var text = '<p><font color="red"><b>Your browser does not support cookie, some function can not work properly.</b></font></p>';
	var dt = new Date(); 
	dt.setSeconds(dt.getSeconds() + 60); 
	document.cookie = "cookietest=1; expires=" + dt.toGMTString(); 
	var cookiesEnabled = document.cookie.indexOf("cookietest=") != -1; 
	if(cookiesEnabled)
	{
        text = '<p><font color="green">Your browser supports cookie.</font></p>';	
	}
	$("#check_cookie").html(text);
})
</script>
