<html>
  <head>
    <title>Fund Helper</title>
	<meta charset=utf-8>
  </head>
  <body>
  <h1>Fund Helper</h1>
  <p>This web app is used to get fund information automatically!</p>
  <p>Thread Id: {{thread_id}}</p>
	<form action="" method="get"> 
		<label>Full update</label>
		<input name="full_update" id="full_update" type="radio" value="True" /><br/> 
		<input name="" type="button" class="showProgress" value="Update"/> 
    </form> 
	Progress:<div id="progress"></div>
	<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
	<script>
	function check_progress() {
		$("#progress").append("Start...");
		var full_update = $("#full_update[name='full_update']:checked").val();//获取当前选中的radio的值
		var download_url = "/update-excel/{{thread_id}}/False"
		if (full_update === undefined) { // 未选中是undefined,选中是 True
		   download_url = "/update-excel/{{thread_id}}/"
		}
		window.location.href = download_url;
		worker();
		function worker() {
			$.get('progress/' + {{thread_id}}, function(data) {
			    current = data.current
				total = data.total
				if (total > 0 && current <= total) {
				    $("#progress").text(current+"/"+total);
				}
				if (current < total || total == 0) {
					setTimeout(worker, 1000);
				}
			})
		}
	}
	$(".showProgress").click(check_progress);
	</script>
  </body>
</html>
