<html>
  <head>
    <title>{{title}} Fund Helper</title>
	<meta charset=utf-8>
  </head>
  <body>
  <h1>Fund Helper</h1>
  <p>This web app is used to get fund information automatically!</p>
  <p>
  Login or use the default user without login. (Now, registrition is not ready.).
  	<form action="/user-login" method="post"> 
		<label>User name: </label>
		<input name="username" id="username" type="text" value="guest" /><br/> 
		<label>Password: </label>
		<input name="password" id="password" type="text" value="guest"/><br/>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
		<input name="" type="submit" value="Login"/> 
    </form> 
	</p>
	{% include "update_funds.html" %}
  </body>
</html>
