<html>
  <head>
    <title>Fund Helper</title>
	<meta charset=utf-8>
  </head>
  <body>
      <h1>Fund Helper</h1>
      <p>This web app is used to get fund information automatically!</p>
	  <p>Thread Id: {{thread_id}}</p>
	  <button formaction="/update-excel/{{thread_id}}/"  class="showProgress" type="submit" >Fast update</button><p>
	  <button formaction="/update-excel/{{thread_id}}/<False>"  class="showProgress" type="submit" >All update</button><p>
	  <button class="showProgress">Show progress</button>
	  Progress:<div id="progress"></div>
	  <p>Test ajax below:</p>
	  <form action='{{ url_for('form_data') }}' method="POST">
    <input name="username" type="text"/>
    <input type="submit">

	</form>
	<Br>
	<input type="button" name="sendjson" value="提交" id="sendjson">
	<div id="myDiv"></div>
	<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
	<script>
	function check_progress() {
	    //alert({{thread_id}});
		$("#progress").append("start...");
		window.location.href = "/update-excel/{{thread_id}}/";
		worker();
		function worker() {
			$.get('progress/' + {{thread_id}}, function(data) {
			    current = data.current
				total = data.total
				$("#progress").text(current+"/"+total);
				if (current < total) {
				    $("#progress").append(" next ");
					setTimeout(worker, 1000);
				}
			})
		}
	}
	$(".showProgress").click(check_progress);
		$("#sendjson").click(function () {
			params = {"username": "lisi"}

			{#$.getJSON("{{ url_for('form_data') }}",params, function (result) {#}
			{#        $("#myDiv").append("hello world1");#}
			{#        console.log(obj.username + "<br>");#}
			{# });#}

			{#$.ajax({#}
			{#    "url": "{{ url_for('form_data') }}",#}
			{#    "type": "POST",#}
			{#    "data": params,#}
			{#    "success": function (obj) {#}
			{#        $("#myDiv").append("hello world")#}
			{#        console.log(obj.username + "<br>")#}
			{#    },#}
			{#    "error": function (obj) {#}
			{#        console.log(obj)#}
			{#    },#}
			{#    "dataType": "json",#}
			{#    "async": true#}
			{# });#}

			{#$.get("{{ url_for('form_data') }}", params, function (obj) {#}
			{#    $("#myDiv").append("hello world")#}
			{#    console.log(obj.username + "<br>");#}
			{# }, "json");#}

			$.post("{{ url_for('form_data') }}", params, function (obj) {
				$("#myDiv").append(obj.username + "<br>")
				console.log(obj);
			}, "json");
		})
		{#$('#sendjson').bind('click', submit_form);#}
	</script>
  </body>
</html>
