	<p>
	<button id="save">Save</button>
	<div id="updateModelStatus"></div>
	<h2>Fund table</h2>
	<div id="fund-table"></div> 
	<h2>Stock index table</h2>
	<div id="stock-index-table"></div> 
	<h2>Invest table</h2>
	<div id="invest-table"></div> 
	<h2>Information table</h2>
	<div id="information-table"></div> 
	</p>
	<script>
	var tabledata = [
 	["005911", "广发双擎升级混合", "5", "2.0368", "0.17", "-15.21", "20191021", "-1.02", "20191120"],
	["320007", "诺安成长混合", "5", "1.195", "0.5", "-16.15", "20191021", "-3.77", "20191119"],
    ];
	var fundTableContainer = document.getElementById('fund-table');
	var fundTable = new Handsontable(fundTableContainer, {
	  data: null, //tabledata,
	  rowHeaders: false,
	  colHeaders: ["Fund ID", "Name", "Level", "Price", "Change", "Day", "UpdateTime", "R2Low", "LowDate", "R2High", "HighDate"],
	  columnSorting : true,
	  dropdownMenu: true,
      autoColumnSize: true,
	  contextMenu: true,
	  width: '100%',
      height: 500,
	  modifyColWidth: function(width, col){
		  if(width > 70 && col > 1){
			return 70
		  }
		},
	  fixedColumnsLeft: 2,
	  licenseKey: 'non-commercial-and-evaluation',
	  cells: function (row, col) {
		var cellProperties = {};
		
		if (col == 3) { // col从0开始
		   cellProperties.type = 'numeric';
		   cellProperties.numericFormat = {pattern: '0.00'};
		}
		if (col == 4) {
		    cellProperties.renderer = normalConditionColourRenderer
		}
		if (col == 7) {
		    cellProperties.renderer = toLowConditionColourRenderer;
		}
		if (col == 9) {
		    cellProperties.renderer = toHightConditionColourRenderer;
		}

		return cellProperties;
	  }
	});	
	var stockIndexTableContainer = document.getElementById('stock-index-table');
	var stockIndexTable = new Handsontable(stockIndexTableContainer, {
	  data: null, //tabledata,
	  rowHeaders: false,
	  colHeaders: ["StockIndex", "Name", "Point", "Change", "Day", "CChange","Amount", "UpdateTime", "R2Low", "LowDate", "R2High", "HighDate"],
	  columnSorting : true,
	  dropdownMenu: true,
      autoColumnSize: true,
	  contextMenu: true,
	  width: '100%',
      height: 500,
	  modifyColWidth: function(width, col){
		  if(width > 70 && col != 1 && col != 7){
			return 70
		  }
		},
	  fixedColumnsLeft: 2,
	  licenseKey: 'non-commercial-and-evaluation',
	  cells: function (row, col) {
		var cellProperties = {};
		
		if (col == 2 || col == 6) { // col从0开始
		   cellProperties.type = 'numeric';
		   cellProperties.numericFormat = {pattern: '0.00'};
		}
		if (col == 3 || col == 5) {
		    cellProperties.renderer = normalConditionColourRenderer
		}
		if (col == 8) {
		    cellProperties.renderer = toLowConditionColourRenderer;
		}
		if (col == 10) {
		    cellProperties.renderer = toHightConditionColourRenderer;
		}

		return cellProperties;
	  }
	});	
	var investTableContainer = document.getElementById('invest-table');
	var investTable = new Handsontable(investTableContainer, {
	  data: null, //tabledata,
	  rowHeaders: false,
	  colHeaders: false,
	  columnSorting : false,
	  dropdownMenu: true,
      autoColumnSize: true,
	  contextMenu: true,
	  width: '100%',
      height: 500,
	  modifyColWidth: function(width, col){
		  if(width > 70){
			return 70
		  }
		},
	  fixedRowsTop: 4,
	  fixedColumnsLeft: 3,
	  licenseKey: 'non-commercial-and-evaluation',
	  cells: function (row, col) {
		var cellProperties = {};

		if (row >= 3 && row%2 == 1 && col >= 1) {
		    cellProperties.renderer = normalConditionColourRenderer
		}

		return cellProperties;
	  }
	});
	var infoTableContainer = document.getElementById('information-table');
	var infoTable = new Handsontable(infoTableContainer, {
	  data: null,
	  rowHeaders: false,
	  colHeaders: ["ID", "Date", "Category", "Source", "Scope", "Degree", "Impact","Information"],
	  columnSorting : true,
	  dropdownMenu: true,
      autoColumnSize: true,
	  contextMenu: true,
	  width: '100%',
      height: 500,
	  modifyColWidth: function(width, col){
		  if(width > 70 && col < 6){
			return 70
		  }
		},
	  fixedColumnsLeft: 2,
	  licenseKey: 'non-commercial-and-evaluation',
	  cells: function (row, col) {
		var cellProperties = {};
		
		if (col == 4) {
		    cellProperties.renderer = normalIntConditionColourRenderer
		}

		return cellProperties;
	  }
	});	

	$( document ).ready(function() {
		//console.log( "ready!" );
		$.ajax({
			url: '/load-fund-data/' + {{thread_id}},
			type: 'GET',
			contentType: 'application/json; charset=utf-8',    
			dataType: 'json',
			async: true,
			success: function(msg) {
				fundTable.loadData(msg.fund);
				stockIndexTable.loadData(msg.stock);
				investTable.loadData(msg.invest);
				infoTable.loadData(msg.info);
				//console.log('Loaded:');
				//console.log(msg.data);
			}
		});
	});
	
	function save_data() { 
	    // save all cell's data
	    var csrftoken = $("meta[name=csrf-token]").attr("content");
	    var arr = { "fund": fundTable.getData(), "info": infoTable.getData(), "invest":investTable.getData()};
		$.ajax({
			url: '/save-data/' + {{thread_id}},
			type: 'POST',
			data: JSON.stringify(arr),
			contentType: 'application/json; charset=utf-8',    
			dataType: 'json',
			headers:{"X-CSRFToken":csrftoken},
			success: function(res) {
				//var response = JSON.parse(res.response);
				if (res.result === 'ok') {
				  $("#updateModelStatus").text("Update model: Save success");
				}
				else {
				  $("#updateModelStatus").text("Update model: Save error");
				}
			}
		});
    }
	$("#save").click(save_data);
	
	function normalIntConditionColourRenderer(instance, td, row, col, prop, value, cellProperties) {
	   Handsontable.renderers.TextRenderer.apply(this, arguments);
	   rendConditionColour(td, value, false, false);
	}

	function normalConditionColourRenderer(instance, td, row, col, prop, value, cellProperties) {
	   Handsontable.renderers.TextRenderer.apply(this, arguments);
	   rendFloat(td, value);
	   rendConditionColour(td, value, false, false);
	}
	
	function toHightConditionColourRenderer(instance, td, row, col, prop, value, cellProperties) {
	   Handsontable.renderers.TextRenderer.apply(this, arguments);
	   rendFloat(td, value);
	   rendConditionColour(td, value, true, false);
	}

	function toLowConditionColourRenderer(instance, td, row, col, prop, value, cellProperties) {
	   Handsontable.renderers.TextRenderer.apply(this, arguments);
	   rendFloat(td, value);
	   rendConditionColour(td, value, false, true);
	}
	
	function rendConditionColour(td, value, toHigh, toLow) {
		if (toHigh && value < 3) {
			td.innerHTML = "<font color=\"#B3770F\">"+td.innerHTML+"</font>"
			td.style.background = '#FEEA9B';
			return;
		}
		if (toLow && value > -3) {
			td.innerHTML = "<font color=\"#B3770F\">"+td.innerHTML+"</font>"
			td.style.background = '#FEEA9B';
			return;
		}
		if (value < 0) {
			td.innerHTML = "<font color=\"green\">"+td.innerHTML+"</font>"
			td.style.background = '#C6EFCE';
		} else if (value > 0) {
			td.innerHTML = "<font color=\"red\">"+td.innerHTML+"</font>"
			td.style.background = '#FFC7CE';
		}
	}
	
	function rendFloat(td, value) {
		if (isFloat(value)) {
			td.innerHTML = value.toFixed(2);
		}
	}
	
	function isFloat(n) {
		return typeof n === 'number' && (~~n !== n) && !isNaN(n);
	}

	</script>
