	<p>
	<form action="" method="get"> 
		<label>Full update</label>
		<input name="full_update" id="full_update" type="radio" value="True" /><br/> 
		<input name="" type="button" class="showProgress" value="Update Funds"/> <!-- only type button can trigger showProgress javascript, but only type submit can submit form parameters.-->
		<input name="" type="button" class="downloadExcel" value="Download"/> 
    </form> 
	<div id="progress"></div>
	<div id="timeCost"></div>
	</p>
	<script src="{{url_for('static', filename='jquery-3.4.0.min.js')}}"></script>
	<script>
	/*function next_id(){
		var current_id = 0;
		return function (){
			return ++current_id;
		}
	}
    var generate_id =  next_id();    generate_id() always 1 
	function* next_id(){
		let current_id =0;
		while(true) {
			current_id++;
			yield current_id;
		}
	}

	let generate_id = next_id();     generate_id.next().value always 1  */
	
	/**
	 * @description 生成随机数
	 * @author (Set the text for this tag by adding docthis.authorName to your settings file.)
	 * @date 2019-05-20
	 * @param {*} type 生成随机数的类型 1：min ≤ r ≤ max 2：min ≤ r < max 3：min < r ≤ max 4：min < r < max
	 * @param {*} min
	 * @param {*} max
	 * @example randomNumBoth(1, 1, 10) 生成1-10之间的随机数包含1和10
	 * @example randomNumBoth(2, 1, 10) 生成1-10之间的随机数包含1，但不包含10
	 * @example randomNumBoth(3, 1, 10) 生成1-10之间的随机数包含10，但不包含1
	 * @example randomNumBoth(4, 1, 10) 生成1-10之间的随机数不包含1和10
	 * @returns
	 */
	function randomNumBoth(type, min, max) {
		let range = max - min;
		let rand = Math.random();
		let randomNum = null;
		switch (type) {
			case 1:
				randomNum = min + Math.round(rand * range);
				break;
			case 2:
				randomNum = min + Math.floor(rand * range);
				break;
			case 3:
				if (Math.round(rand * range) == 0) return min + 1;
				randomNum = min + Math.round(rand * range);
				break;
			case 4:
				if (Math.round(rand * range) == 0) {
					return min + 1;
				} else if (Math.round(rand * max) == max) {
					index++;
					return max - 1;
				} else {
					randomNum = min + Math.round(rand * range) - 1;
				}
				break;
			default:
				randomNum = min + Math.round(rand * range);
				break;
		}
		return randomNum;
	}

	function check_progress() {
		$("#progress").text("Progress: Start...");
		var full_update = $("#full_update[name='full_update']:checked").val();//获取当前选中的radio的值
		var request_id = randomNumBoth(1, 1, 10000);
		var download_url = "/update-excel/{{thread_id}}/"+request_id+"/False"
		if (full_update === undefined) { // 未选中是undefined,选中是 True
		   download_url = "/update-excel/{{thread_id}}/"+request_id
		}
		window.location.href = download_url;
		worker();
		function worker() {
			$.get('/progress/' + {{thread_id}} + "/" + request_id, function(data) {
			    current = data.current
				total = data.total
				if (total > 0 && current <= total) {
				    $("#progress").text("Progress: " + current+"/"+total);
				}
				time = data.time
				if (time > 0) {
				    $("#timeCost").text("Total time : " + time + " seconds.");
				}
				if (current < total || total == 0) {
					setTimeout(worker, 1000);
				} else {
				    //window.location.reload();  // 刷新页面，从而把fund数据更新结果显示出来
				}
			})
		}
	}
	$(".showProgress").click(check_progress);
	
	function download_excel() {
		window.location.href = "/download-excel/{{thread_id}}/";
	}
	$(".downloadExcel").click(download_excel);
	</script>
