	<p>
	<button id="save">Save</button>
	<div id="fund-table"></div> 
	<div id="updateModelStatus"></div>
	</p>
	<script>
	var tabledata = [
 	["005911", "广发双擎升级混合", "5", "2.0368", "0.17", "-15.21", "20191021", "-1.02", "20191120"],
	["320007", "诺安成长混合", "5", "1.195", "0.5", "-16.15", "20191021", "-3.77", "20191119"],
    ];
	var container = document.getElementById('fund-table');
	var hot = new Handsontable(container, {
	  data: null, //tabledata,
	  rowHeaders: false,
	  colHeaders: ["Fund ID", "Name", "Level", "Price", "Change", "Day", "UpdateTime", "R2Low", "LowDate", "R2High", "HighDate"],
	  columnSorting : true,
	  columns: [{}, {},{},
	            {type:'numeric', numericFormat: {pattern: '0.00'}},
				{type:'numeric', numericFormat: {pattern: '0.00'}},
				{},
				{},
				{type:'numeric', numericFormat: {pattern: '0.00'}},
				{},
				{type:'numeric', numericFormat: {pattern: '0.00'}},
				{}],
	  dropdownMenu: true,
      autoColumnSize: true,
	  contextMenu: true,
	  licenseKey: 'non-commercial-and-evaluation',
	  cells: function (row, col) {
		var cellProperties = {};
		var data = this.instance.getData();
		
		if (col == 4 || col == 5 || col == 8 || col == 10) {
		   cellProperties.type = 'numeric';
		   cellProperties.numericFormat = {pattern: '0.00'};
		}
		if (col == 7) {
		    cellProperties.renderer = toLowConditionColourRenderer;
		}
		if (col == 9) {
		    cellProperties.renderer = toHightConditionColourRenderer;
		}
		/*
		if (row === 0 || data[row] && data[row][col] === 'readOnly') {
		  cellProperties.readOnly = true; // make cell read-only if it is first row or the text reads 'readOnly'
		}
		if (row === 0) {
		  cellProperties.renderer = firstRowRenderer; // uses function directly
		}
		else {
		  cellProperties.renderer = numericRenderer;
		}*/

		return cellProperties;
	  }
	});	
	
	$( document ).ready(function() {
		//console.log( "ready!" );
		$.ajax({
			url: 'load-fund-data/' + {{thread_id}},
			type: 'GET',
			contentType: 'application/json; charset=utf-8',    
			dataType: 'json',
			async: true,
			success: function(msg) {
				hot.loadData(msg.fund);
				//console.log('Loaded:');
				//console.log(msg.data);
			}
		});
	});
	
	function save_data() { 
	    // save all cell's data
	    var csrftoken = $("meta[name=csrf-token]").attr("content");
	    var arr = { "fund": hot.getData()};
		$.ajax({
			url: 'save-data/' + {{thread_id}},
			type: 'POST',
			data: JSON.stringify(arr),
			contentType: 'application/json; charset=utf-8',    
			dataType: 'json',
			headers:{"X-CSRFToken":csrftoken},
			success: function(res) {
				//var response = JSON.parse(res.response);
				if (res.result === 'ok') {
				  $("#updateModelStatus").text("Update model: Save success");
				}
				else {
				  $("#updateModelStatus").text("Update model: Save error");
				}
			}
		});
    }
	$("#save").click(save_data);
	
	function numericRenderer(instance, td, row, col, prop, value, cellProperties) {
		Handsontable.renderers.TextRenderer.apply(this, arguments);

	    // if row contains negative number
	    if (parseFloat(value, 10) < 0) {
			// add class "negative"
			td.className = 'make-me-red';
   	    }
		//td.style.background = '#EEE';
		//td.style.fontStyle = 'italic';
	}
	
	function firstRowRenderer(instance, td, row, col, prop, value, cellProperties) {
	  Handsontable.renderers.TextRenderer.apply(this, arguments);
	  td.style.fontWeight = 'bold';
	  td.style.color = 'green';
	  td.style.background = '#CEC';
	  if (isFloat(value)) {
	     td.innerHTML = value.toFixed(2);
	  }
	}
	
	function toHightConditionColourRenderer(instance, td, row, col, prop, value, cellProperties) {
	   Handsontable.renderers.TextRenderer.apply(this, arguments);
	   rendConditionColour(td, value, true, false);
	}

	function toLowConditionColourRenderer(instance, td, row, col, prop, value, cellProperties) {
	   Handsontable.renderers.TextRenderer.apply(this, arguments);
	   rendConditionColour(td, value, false, true);
	}
	
	function rendConditionColour(td, value, toHigh, toLow) {
		rendFloat(td, value);
		if (toHigh && value < 3) {
			td.innerHTML = "<font color=\"#B3770F\">"+td.innerHTML+"</font>"
			td.style.background = '#FEEA9B';
			return;
		}
		if (toLow && value > -3) {
			td.innerHTML = "<font color=\"#B3770F\">"+td.innerHTML+"</font>"
			td.style.background = '#FEEA9B';
			return;
		}
		if (value < 0) {
			td.innerHTML = "<font color=\"green\">"+td.innerHTML+"</font>"
			td.style.background = '#C6EFCE';
		} else if (value > 0) {
			td.innerHTML = "<font color=\"red\">"+td.innerHTML+"</font>"
			td.style.background = '#FFC7CE';
		}
	}
	
	function rendFloat(td, value) {
		if (isFloat(value)) {
			td.innerHTML = value.toFixed(2);
		}
	}
	
	function isFloat(n) {
		return typeof n === 'number' && (~~n !== n) && !isNaN(n);
	}

	</script>
