	<p>
	<span title="Save web data to server memory and persisit to model excel file."><button id="save">Save</button></span>
	<div id="updateModelStatus"></div><br>
	<span title="Git commit the model files and push to github."><button id="gitSubmit">Git Submit</button></span>
	<div id="gitSubmitStatus"></div><br>
	<h2>Fund table</h2>
	<p><b>Level: focus level.</b>
	<br><b>Hundreds place :</b> 1 means have bought it. (automatically maintained)
	<br><b>Tens place :</b> 1 means want to buy/sell it. (manual maintained)
	<br><b>Ones place :</b> level to classify the fund. (manual maintained)
	<br>5 - Good fund and time.<br>4 - Normal fund good time.<br>3 - Good fund.<br>2 - Normal fund.<br>1 - Bad fund.</p>
	<div>Search fund: <input id="fundSearchField" type="text" value="" ></input></div><br>
	<div id="fundSearchStatus"></div><br>
	<div id="fund-table"></div> 
	<h2>Stock index table</h2>
	<div id="stock-index-table"></div> 
	<h2>Invest table</h2>
	<div id="invest-table"></div> 
	<h2>Information table</h2>
	<div id="information-table"></div> 
	</p>
	<!-- If I put the following line in header, it does not work. https://stackoverflow.com/questions/51425397/sparkline-is-not-a-function-jquery-sparklines# -->
	<script type="text/javascript" src="{{url_for('static', filename='jquery.sparkline.min.js')}}"></script>
	<script>
	function sparkLineRenderer(instance, td, row, col, prop, value, cellProperties) {
	    if (value == null) {
		    return;  // 刚启动时value为null
		}
		var chartContainer = null;
		if (td.childNodes.length > 0) {  // 第一次添加的chart节点太短了,所以只好每次进来都删除已添加的chart节点
		    if (td.childNodes[0].id == "sparkline_chart") {
			    //td.removeChild(td.childNodes[0]);
				chartContainer = td.childNodes[0];
			}
		} else {
			chartContainer = document.createElement('div');
			chartContainer.id = "sparkline_chart";
			td.appendChild(chartContainer);
		}
		var array = value.split(',');   // string to int array
		//console.log("sparkLineRenderer");
		//console.log(array);
		//instantiate sparkline after the cell element has been aded to the DOM
		$(chartContainer).sparkline(array, {width:"100%", type:"line", disableTooltips:true});
    }
	function hyperlinkRenderer(instance, td, row, col, prop, value, cellProperties) {
	    td.innerHTML = "<a href=\""+value+"\" target=\"_blank\">link</a>"
	}
	function autoCompleteYear(query, process) {
		if (query <= 1231 && query >= 0101) { // 只输入了四位，在1月1日和12月31日之间，自动补齐前面的年份为当前年份
			 var now = new Date();
			 var year = now.getFullYear();
			 process([year+query]);   // 前面补齐当前年份
		}
	}
	var tabledata = [
 	["005911", "广发双擎升级混合", "5", "2.0368", "0.17", "4", "20191212", "-15.21", "20191021", "-1.02", "20191120", [1,4,2,3,4,5,7,5,1,5]],
	["320007", "诺安成长混合", "5", "1.195", "0.5", "4", "20191212", "-16.15", "20191021", "-3.77", "20191119", [1,4,2,3,4,5,7,5,1,5,6,8,2,3,1]],
    ];
	var fundTableContainer = document.getElementById('fund-table');
	var fundTable = new Handsontable(fundTableContainer, {
	  data: null, //tabledata,
	  //data: tabledata,
	  rowHeaders: false,
	  colHeaders: ["Fund ID", "Name", "Link", '<span title="Recent 60 days unit worth trend.">Trend</span>', "Level", "Price", "Change", "Day", '<span title="Continuous ac worth change ratio.">CChange</span>', "UpdateTime", '<span title="Ratio to low unit worth.">R2Low</span>', "LowDate", "R2High", "HighDate"],
	  colWidths:  [70,         220,   40,     200,    40,       60,     60,       40,    60,       150,           60,     80,        60,       80],
	  columns: [{},{},{},{},{},{},{},{},{},{},{},{type: 'autocomplete', source: autoCompleteYear},{},{type: 'autocomplete', source: autoCompleteYear}],
	  columnSorting : true,
	  dropdownMenu: true,
      autoColumnSize: true,
	  contextMenu: true,
	  search: true,
	  width: '100%',
      height: 500,
	  /*modifyColWidth: function(width, col){
		  if(width > 70 && col > 1 && col != 6 && col != 11){ // name, update time 需要较宽的空间
			return 70
		  }
		  
		  if (col == 11) {
		    return 200
		  }
		},*/
	  fixedColumnsLeft: 2,
	  licenseKey: 'non-commercial-and-evaluation',
	  cells: function (row, col) {
		var cellProperties = {};

		if (col == 2) {
		    cellProperties.renderer = hyperlinkRenderer;
		}		
		if (col == 3) {
		    cellProperties.renderer = sparkLineRenderer;
		}
		if (col == 5) { // col从0开始
		   cellProperties.type = 'numeric';
		   cellProperties.numericFormat = {pattern: '0.00'};
		}
		if (col == 6 || col == 8) {
		    cellProperties.renderer = normalConditionColourRenderer
		}
		if (col == 10) {
		    cellProperties.renderer = toLowConditionColourRenderer;
		}
		if (col == 12) {
		    cellProperties.renderer = toHightConditionColourRenderer;
		}

		return cellProperties;
	  }
	});
	var searchFiled = document.getElementById('fundSearchField');
	Handsontable.dom.addEvent(searchFiled, 'keyup', function (event) {
	  var search = fundTable.getPlugin('search');
	  var queryResult = search.query(this.value);
	  var matchNumber = queryResult.length;
	  $("#fundSearchStatus").text("Search result: "+matchNumber+" matched items.");
	  //console.log(queryResult);
	  fundTable.render();
	});
	
	var stockIndexTableContainer = document.getElementById('stock-index-table');
	var stockIndexTable = new Handsontable(stockIndexTableContainer, {
	  data: null, //tabledata,
	  rowHeaders: false,
	  colHeaders: ["StockIndex", "Name", "Point", "Change", "Day", "CChange","Amount", "UpdateTime", "R2Low", "LowDate", "R2High", "HighDate"],
	  columnSorting : true,
	  dropdownMenu: true,
      autoColumnSize: true,
	  contextMenu: true,
	  width: '100%',
      height: 500,
	  modifyColWidth: function(width, col){
		  if(width > 70 && col != 1 && col != 7){
			return 70
		  }
		},
	  fixedColumnsLeft: 2,
	  licenseKey: 'non-commercial-and-evaluation',
	  cells: function (row, col) {
		var cellProperties = {};
		
		if (col == 2 || col == 6) { // col从0开始
		   cellProperties.type = 'numeric';
		   cellProperties.numericFormat = {pattern: '0.00'};
		}
		if (col == 3 || col == 5) {
		    cellProperties.renderer = normalConditionColourRenderer
		}
		if (col == 8) {
		    cellProperties.renderer = toLowConditionColourRenderer;
		}
		if (col == 10) {
		    cellProperties.renderer = toHightConditionColourRenderer;
		}

		return cellProperties;
	  }
	});	
	var investTableContainer = document.getElementById('invest-table');
	var investTable = new Handsontable(investTableContainer, {
	  data: null, //tabledata,
	  rowHeaders: false,
	  colHeaders: false,
	  columnSorting : false,
	  dropdownMenu: true,
      autoColumnSize: true,
	  contextMenu: true,
	  width: '100%',
      height: 500,
	  modifyColWidth: function(width, col){
		  if(width > 70){
			return 70
		  }
		},
	  fixedRowsTop: 4,
	  fixedColumnsLeft: 3,
	  licenseKey: 'non-commercial-and-evaluation',
	  cells: function (row, col) {
		var cellProperties = {};
		
		if (col == 1) {
		    cellProperties.type = "autocomplete";
			cellProperties.source = autoCompleteYear;
		}

		if (row >= 3 && row%2 == 1 && col >= 1) {
		    cellProperties.renderer = normalConditionColourRenderer
		}

		return cellProperties;
	  }
	});
	var infoTableContainer = document.getElementById('information-table');
	var infoTable = new Handsontable(infoTableContainer, {
	  data: null,
	  rowHeaders: false,
	  colHeaders: ["ID", "Date", "Category", "Source", "Scope", "Degree", "Impact","Information"],
	  columnSorting : true,
	  dropdownMenu: true,
      autoColumnSize: true,
	  contextMenu: true,
	  width: '100%',
      height: 500,
	  modifyColWidth: function(width, col){
		  if(width > 70 && col < 6){
			return 70
		  }
		},
	  fixedColumnsLeft: 2,
	  licenseKey: 'non-commercial-and-evaluation',
	  cells: function (row, col) {
		var cellProperties = {};
		if (col == 1) {
		    cellProperties.type = "autocomplete";
			cellProperties.source = autoCompleteYear;
		}		
		if (col == 4) {
		    cellProperties.renderer = normalIntConditionColourRenderer
		}

		return cellProperties;
	  }
	});	

	$( document ).ready(function() {
		//console.log( "ready!" );
		$.ajax({
			url: '/load-fund-data/' + {{thread_id}},
			type: 'GET',
			contentType: 'application/json; charset=utf-8',    
			dataType: 'json',
			async: true,
			success: function(msg) {
				fundTable.loadData(msg.fund);
				stockIndexTable.loadData(msg.stock);
				investTable.loadData(msg.invest);
				infoTable.loadData(msg.info);
				//console.log('Loaded:');
				//console.log(msg.data);
			}
		});
	});
	
	function save_data() { 
	    // save all cell's data
	    var csrftoken = $("meta[name=csrf-token]").attr("content");
		//var temp = investTable.getData();
		//console.log(temp.length);
		//console.log(temp);
	    var arr = { "fund": fundTable.getData(), "info": infoTable.getData(), "invest":investTable.getData()};
		$.ajax({
			url: '/save-data/' + {{thread_id}},
			type: 'POST',
			data: JSON.stringify(arr),
			contentType: 'application/json; charset=utf-8',    
			dataType: 'json',
			headers:{"X-CSRFToken":csrftoken},
			success: function(res) {
			    //console.log(res);
				//var response = JSON.parse(res.response);
				if (res.result === 'ok') {
				  $("#updateModelStatus").text("Update model: Save success");
				}
				else {
				  $("#updateModelStatus").text("Update model: Save error");
				}
			},
			error: function (err) {   //ajax请求失败时返回
				//console.log(err);
				$("#updateModelStatus").text("Update model: Save error (" + err.status + " - "+ err.statusText + ")");
			}
		});
    }
	$("#save").click(save_data);
	
	function git_submit() {
	    $("#gitSubmitStatus").text("Git submit start ... (maybe a few minutes needed.)");
		$.ajax({
			url: '/git-submit/' + {{thread_id}},
			type: 'GET',
			contentType: 'application/json; charset=utf-8',    
			dataType: 'json',
			async: true,
			success: function(msg) {
			    text_result = "STDOUT:\n"+msg.stdout+"\nSTDERR:\n"+msg.stderr;
				$("#gitSubmitStatus").html(convertTextToHtml(text_result));
			}
		});
    }
	$("#gitSubmit").click(git_submit);
	
	
	function normalIntConditionColourRenderer(instance, td, row, col, prop, value, cellProperties) {
	   Handsontable.renderers.TextRenderer.apply(this, arguments);
	   rendConditionColour(td, value, false, false);
	}

	function normalConditionColourRenderer(instance, td, row, col, prop, value, cellProperties) {
	   Handsontable.renderers.TextRenderer.apply(this, arguments);
	   rendFloat(td, value);
	   rendConditionColour(td, value, false, false);
	}
	
	function toHightConditionColourRenderer(instance, td, row, col, prop, value, cellProperties) {
	   Handsontable.renderers.TextRenderer.apply(this, arguments);
	   rendFloat(td, value);
	   rendConditionColour(td, value, true, false);
	}

	function toLowConditionColourRenderer(instance, td, row, col, prop, value, cellProperties) {
	   Handsontable.renderers.TextRenderer.apply(this, arguments);
	   rendFloat(td, value);
	   rendConditionColour(td, value, false, true);
	}
	
	function rendConditionColour(td, value, toHigh, toLow) {
		if (toHigh && value < 3) {
			td.innerHTML = "<font color=\"#B3770F\">"+td.innerHTML+"</font>"
			td.style.background = '#FEEA9B';
			return;
		}
		if (toLow && value > -3) {
			td.innerHTML = "<font color=\"#B3770F\">"+td.innerHTML+"</font>"
			td.style.background = '#FEEA9B';
			return;
		}
		if (value < 0) {
			td.innerHTML = "<font color=\"green\">"+td.innerHTML+"</font>"
			td.style.background = '#C6EFCE';
		} else if (value > 0) {
			td.innerHTML = "<font color=\"red\">"+td.innerHTML+"</font>"
			td.style.background = '#FFC7CE';
		}
	}
	
	function rendFloat(td, value) {
		if (isFloat(value)) {
			td.innerHTML = value.toFixed(2);
		}
	}
	
	function isFloat(n) {
		return typeof n === 'number' && (~~n !== n) && !isNaN(n);
	}
	
	function convertTextToHtml(input_str) {
		var text_input; //store input after beging trim()med
		var output_html=""; //store output
		var counter;	
		
		text_input=input_str.trim(); //trim() input
		if(text_input.length > 0){
			output_html+="<p>"; //begin by creating paragraph
			for(counter=0; counter < text_input.length; counter++){
				switch (text_input[counter]){
					case '\n':
						if (text_input[counter+1]==='\n'){
							output_html+="</p>\n<p>";
							counter++;
						}
						else output_html+="<br>";			
						break;
					
					case ' ':
						if(text_input[counter-1] != ' ' && text_input[counter-1] != '\t')
							output_html+=" ";														
						break;
						
					case '\t':
						if(text_input[counter-1] != '\t')
							output_html+=" ";
						break;
					
					case '&':
						output_html+="&amp;";
						break;
					
					case '"':
						output_html+="&quot;";
						break;
					
					case '>':
						output_html+="&gt;";
						break;
					
					case '<':
						output_html+="&lt;";
						break;				
					
					default:
						output_html+=text_input[counter];
						
				}
						
			}
			output_html+="</p>"; //finally close paragraph
		}
		return output_html; // output html	
	}

	</script>
